image: docker:19.03.1

services:
  - docker:19.03.1-dind

stages:
  - build

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""

build-prod:
  stage: build
  image: debian:11.6-slim
  tags:
    - docker
  only:
    refs:
      - main
  before_script:
    - apt update && apt -y upgrade && apt-get install -y curl
    - curl -Lo doctl.tar.gz https://github.com/digitalocean/doctl/releases/download/v1.93.1/doctl-1.93.1-linux-amd64.tar.gz && tar xf doctl.tar.gz
    - chmod u+x doctl
    - mv doctl /usr/local/bin/doctl
    - doctl auth init -t $DO_TOKEN
    - doctl registry login
  script:
    - doctl account get
